<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>screen capture</title>
	<style>
	body{
		background:transparent;margin:0;padding:0;overflow:hidden;position:relative;
	}
	#cap{
		position: absolute;
		left: 0;
		top:0;
		z-index: 1;
		background: rgba(0,0,0,0.3);
		cursor: crosshair;
	}
	.btns{
		position: absolute;
		display: none;
		z-index: 2;
		background: #fff;
	    padding: 2px;
	    border-radius: 2px;
	}
	.btns>button{
	    border: 1px solid transparent;
	    outline: none;
	    padding: 3px 5px;
	    background: #fff;
	    font-family: 微软雅黑;
	    border-radius: 2px;
	}
	.btns>button:hover{
		text-shadow: 0 0 2px #aaa;
   		border: 1px solid #bbb;
	}
	#result{
		display: none;
	}
	</style>
</head>
<body>
	<canvas id="cap"></canvas>
	<canvas id="c"></canvas>
	<canvas id="result"></canvas>
	<div class="btns" id="tools">
		<button onclick="cancelRect()">取消</button>
		<button onclick="clipRect()">确定</button>
	</div>
	<script>
	const {desktopCapturer,ipcRenderer}
			=require('electron');

	ipcRenderer.send('x-ready-to-draw');
	ipcRenderer.once('x-picture-to-draw',(event,data)=>{
		img.src=data.path;
	});

	c.width=cap.width=window.screen.width;
	c.height=cap.height=window.screen.height;

	const ctx=c.getContext('2d');
	const ctxFront=cap.getContext('2d');

	const img=new Image();
	img.onload=()=>{
		ctx.clearRect(0,0,c.width,c.height);
		ctx.drawImage(img,0,0);
		ipcRenderer.send('x-picture-draw-end');
	};

	// 记录鼠标划出的矩形的起始和结束端点
	let mouse={
		startX:0,
		startY:0,
		endX:0,
		endY:0,
		height:0,
		width:0
	};
	let readyToDraw=()=>{
		cap.onmousedown=(e)=>{
			mouse.startX=e.clientX;
			mouse.startY=e.clientY;
			cap.onmousemove=(e)=>{
				mouse.endX=e.clientX;
				mouse.endY=e.clientY;
				drawRect(mouse.startX,mouse.startY,mouse.endX,mouse.endY);
				boundrysX=mouse.startX,
				boundrysY=mouse.startY,
				boundryeX=mouse.endX,
				boundryeY=mouse.endY;
			};
		};
		let x,y,deltaX,deltaY,
			screenHeight=window.screen.height,
			screenWidth=window.screen.width,
			boundrysX,
			boundrysY,
			boundryeX,
			boundryeY,
			toolsBaseX,
			toolsBaseY;
		cap.onmouseup=(e)=>{
			mouse.startX=boundrysX;
			mouse.startY=boundrysY;
			mouse.endX=boundryeX;
			mouse.endY=boundryeY;
			// 鼠标松开后计算所划矩形高度和宽度
			mouse.height=Math.abs(mouse.endY-mouse.startY);
			mouse.width=Math.abs(mouse.endX-mouse.startX);
			console.log(mouse);
			cap.style.cursor='auto';

			// 根据起始点的四个象限确定右下角的基点，坐标原点在左上角，象限顺序逆时针为四三二一
			if(mouse.startX<=mouse.endX && mouse.startY<=mouse.endY){//第一象限
				toolsBaseX=mouse.endX;
				if(screenHeight-mouse.endY<=30){// 距离下边界太近
					toolsBaseY=mouse.startY-34;
					if(mouse.startY<=30){
						toolsBaseY=mouse.endY-34;
					}
				}else{
					toolsBaseY=mouse.endY;
				}
			}else if(mouse.startX>mouse.endX && mouse.startY<mouse.endY){//第二象限
				toolsBaseX=mouse.startX;
				if(screenHeight-mouse.endY<=30){// 距离下边界太近
					toolsBaseY=mouse.startY-34;
					if(mouse.startY<=30){
						toolsBaseY=mouse.endY-34;
					}
				}else{
					toolsBaseY=mouse.endY;
				}
			}else if(mouse.startX>mouse.endX && mouse.startY>mouse.endY){//第三象限
				toolsBaseX=mouse.startX;
				if(screenHeight-mouse.startY<=30){// 距离下边界太近
					toolsBaseY=mouse.endY-34;
					if(mouse.endY<=30){
						toolsBaseY=mouse.startY-34;
					}
				}else{
					toolsBaseY=mouse.startY;
				}
			}else{//第四象限
				toolsBaseX=mouse.endX;
				if(screenHeight-mouse.startY<=30){// 距离下边界太近
					toolsBaseY=mouse.endY-34;
					if(mouse.endY<=30){
						toolsBaseY=mouse.startY-34;
					}
				}else{
					toolsBaseY=mouse.startY;
				}
			}
			tools.style.display='inline-block';
			tools.style.top=toolsBaseY+3+'px';
			tools.style.left=toolsBaseX-86+'px';
			// mouse.endX=e.clientX,mouse.endY=e.clientY;
			// cap.onmousemove=null;
			cap.onmousemove=(e)=>{
				// 拖动划出的矩形框
				if(ctxFront.isPointInPath(e.clientX,e.clientY)){
					cap.style.cursor='move';
					cap.onmousedown=(e)=>{
						// 记录点击的位置来计算鼠标移动时的位移量
						x=e.clientX,y=e.clientY;
						cap.onmousemove=(e)=>{
							tools.style.display='none';
							deltaX=e.clientX-x;
							deltaY=e.clientY-y;
							
							// 检测是否超出屏幕可见区域
							boundrysX=mouse.startX+deltaX,
							boundrysY=mouse.startY+deltaY,
							boundryeX=mouse.endX+deltaX,
							boundryeY=mouse.endY+deltaY;

							if(boundrysX<0){//竖边碰到边界，就固定对立的一边
								boundrysX=0;
								boundryeX=boundrysX+mouse.width;
							}else if(boundrysX>screenWidth){
								boundrysX=screenWidth;
								boundryeX=boundrysX-mouse.width;
							} 
							if(boundryeX<0){
								boundryeX=0;
								boundrysX=boundryeX+mouse.width;	
							}else if(boundryeX>screenWidth){
								boundryeX=screenWidth;
								boundrysX=boundryeX-mouse.width;
							}
							if(boundrysY<0){//横边碰到边界，就固定对立的一边
								boundrysY=0;
								boundryeY=boundrysY+mouse.height;
							}else if(boundrysY>screenHeight){
								boundrysY=screenHeight;
								boundryeY=boundrysY-mouse.height;
							}
							if(boundryeY<0){
								boundryeY=0;
								boundrysY=boundryeY+mouse.height;	
							}else if(boundryeY>screenHeight){
								boundryeY=screenHeight;
								boundrysY=boundryeY-mouse.height;
							}

							// console.log(boundrysX,boundrysY,boundryeX,boundryeY);
							drawRect(boundrysX,boundrysY,boundryeX,boundryeY);
						};
					};
				}else{
					cap.style.cursor='auto';
					cap.onmousedown=null;
				}
			};
		}
	}
	
	let drawRect=(sx,sy,ex,ey)=>{
		ctxFront.clearRect(0,0,cap.width,cap.height);
		ctxFront.beginPath();
		// ctxFront.lineWidth=1;
		// ctxFront.rect(mouse.startX,mouse.startY,mouse.endX-mouse.startX,mouse.endY-mouse.startY);
		ctxFront.moveTo(sx,sy);
		ctxFront.lineTo(ex,sy);
		ctxFront.lineTo(ex,ey);
		ctxFront.lineTo(sx,ey);
		ctxFront.lineTo(sx,sy);

		ctxFront.drawImage(c,sx,sy,ex-sx,ey-sy,sx,sy,ex-sx,ey-sy);
		ctxFront.strokeStyle='#1D9BFF';
		ctxFront.closePath();
		ctxFront.stroke();
	};
	readyToDraw();
	let cancelRect=()=>{
		ctxFront.clearRect(0,0,cap.width,cap.height);
		cap.style.cursor='crosshair';
		tools.style.display='none';
		mouse={
			startX:0,
			startY:0,
			endX:0,
			endY:0,
			height:0,
			width:0
		};
		cap.onmousedown=cap.onmousemove=cap.onmouseup=null;
		readyToDraw();
	};
	let clipRect=()=>{
		const imgData=ctx.getImageData(mouse.startX,mouse.startY,mouse.endX,mouse.endY);
		const ctxResult=result.getContext('2d');
		result.width=mouse.width;
		result.height=mouse.height;
		ctxResult.putImageData(imgData,0,0);
		ipcRenderer.send('x-screen-capture-finish',{pic:result.toDataURL()});
	};
	</script>
</body>
</html>