<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body style="background:transparent;">
	<canvas id="c"></canvas>
	<script>
	const {desktopCapturer}=require('electron');

	c.width=window.screen.availWidth;
	c.height=window.screen.availHeight;

	const ctx=c.getContext('2d');

	const img=new Image();
	img.onload=function(){
		ctx.clearRect(0,0,c.width,c.height);
		ctx.drawImage(img,0,0);
	};

	desktopCapturer.getSources({types:['screen','window'],thumbnailSize:{width:window.screen.availWidth,height:window.screen.availHeight}},(error,sources)=>{
		if(error) throw error;
		for(let i=0;i<sources.length;i++){
			if(sources[i].name.toLowerCase()==='entire screen'){
				img.src=sources[i].thumbnail.toDataURL();
				// warningMention.init(sources[i].thumbnail.toDataURL());
				// ipcRenderer.send('x-screen-capture-picture',{url:sources[i].thumbnail.toDataURL()});
				return ;
			}
		}
	});
	</script>
</body>
</html>