canvas{
	/*border: 1px solid #000;*/
    cursor: -webkit-grab;
}
.topbar{
    /*margin-left:78px; */
    height: 30px;
    user-select:none;
    -webkit-user-select:none;
    -webkit-app-region:drag;
    border-bottom: 1px solid #444;
    box-shadow: inset 0 0 2px #444;
}
body,p{
    position: relative;
    overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: '微软雅黑';
	background: #333;
}
*{
    box-sizing:border-box;
    font-family: '微软雅黑';
}
#color{
	position: absolute;
	display: none;
}
#colorBox{
    width: 12px;
    height: 12px;
    border: 2px solid #f00;
    display: inline-block;
    float: left;
    position: relative;
}
#colorLine{
    position: absolute;
    height: 2px;
    width: 14px;
    top: -7px;
    left: -13px;
    background: #f00;
    transform: rotateZ(45deg);
}
#colorValue{
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    color: #f00;
    font-family: cursive;
    float: left;
    margin-left: 5px;
}
#canvas,#result,#settingPanel{
	/*background-color: #000;*/
    display: none;
}
#frontCanvas{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.dock>button.tool{
	outline: none;
	border: 1px solid transparent;
	background: transparent;
    /*padding: 10px 12px;*/
    width: 40px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
}
.dock>button.tool>i{
    text-shadow: 0 0 4px #ccc;
}
.dock>button.tool.active,
.dock>button.tool:hover{
    outline: none;
    border: 1px solid #333;
    background: linear-gradient(#3d3d3d 0,#545454 100%);
    border-radius: 5px;
}
.dock>button[disabled=disabled].tool{
    background: transparent;
    border: 1px solid transparent;
    cursor: not-allowed;
}
.dock>button[disabled=disabled].tool>i{
    text-shadow: none;
}
.dock{
    text-align: center;
    box-shadow: 0 0 10px #222;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: -webkit-linear-gradient(#636363 -6%,#535353 9%,#666666 91%,#636363 100%);
    user-select:none;
    -webkit-user-select:none;
}
.btns{
    position: fixed;
    z-index: 999999;
    top: 3px;
    left: 10px;
}
.menu{
    color: #ddd;
    position: fixed;
    right: 10px;
    top: 3px;
}
.menu>button.item{
    color: #ccc;
    background: transparent;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    -webkit-app-region:no-drag;
}
.menu>button.item:hover {
    border-radius: 4px;
    border: 1px solid #cecece;
}
span.btn {
    display: inline-block;
    width: 14px;
    height: 14px;
    font-weight: 700;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 5px;
    line-height: 12px;
    text-align: center;
    color: transparent;
    -webkit-app-region:no-drag;
}
span.btn:hover{
    color: #000;
}
.close{
	background: #EE483D;
}
.max{
    background: #54BC22;
}
.min{
	background: #EFA040;
}
.l{
    float: left;
}
.r{
    float: right;
}
.xbtn{
    border: 0;
    padding: 5px 20px;
    background-color: #333;
    color: #ddd;
    outline: none;
    cursor: pointer;
}
.modal-bg{
    left: 0;
    top: 0;
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}
.modal{
    width: 400px;
    background-color: #444;
    margin: 100px auto;
    color: #ddd;
}
.modal footer{
    padding: 10px;
    text-align: right;
}
.modal p{
    font-size: 14px;
    padding: 10px;
}
.modal header{
    font-size: 14px;
    padding: 10px;
    background-color: #666;
}
#pictureSquare{
    padding: 10px 0 0 10px;
    border-top: 1px solid #ddd;
}
#pictureSquare article p{
    overflow: visible;
    background: transparent;
}
#pictureSquare article p>img{
    box-shadow: 2px 2px 10px #555;
}
#pictureSquare article footer{
    font-size: 14px;
    padding-top: 5px;
}
#pictureSquare article{
    text-align: center;
    border: 1px solid transparent;
    padding: 5px;
    display: inline-block;
    margin: 0 10px 10px 0;
    border-radius: 4px;
}
#pictureSquare article:hover {
    background: linear-gradient(#fff 0,rgba(216, 225, 239, 0.47) 100%);
    border: 1px solid rgb(196, 214, 243);
}
#settingPanel{
    background: #fff;
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}
#settingPanel>header{
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
}
#settingPanel>nav>ul{
    padding: 5px 10px 0 10px;
    margin: 0;
}
#settingPanel>nav>ul>li{
    display: inline-block;
    padding: 0 10px 5px 10px;
    border: 1px solid #ddd;
    border-bottom: 0;
    position: relative;
}
#settingPanel>nav>ul>li:before{
    content: ' ';
    border-top: 2px solid #ddd;
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
}
#settingPanel>nav>ul>li:hover::before,
#settingPanel>nav>ul>li.active::before {
    border-top: 2px solid #f00;
}
#settingPanel>nav>ul>li:after {
    content: ' ';
    display: none;
    width: 100%;
    height: 4px;
    position: absolute;
    background: #fff;
    left: 0;
    bottom: -2px;
}
#settingPanel>nav>ul>li:hover::after,
#settingPanel>nav>ul>li.active::after {
    display: block;
}